body {
    color: #3D3D3D;
    background: #FCFCFC;

}
a, a:hover {
    color: #CD2626;
}
hr {
    margin-bottom: 0;
}
.objectClass, .ldapWord {
    color: grey;
}
.attrib_name {
    font-weight: bolder;
    padding-top: 1em;
    display: inline-block;
}
.attribContains {
    font-size: 1.25em;
}
.error {
    color: white;
    background-color:red;
    padding: 0 0.5em 0 0.5em;
}
.message {
    color: white;
    background-color:#00C957;
    padding: 0 0.5em 0 0.5em;
}
.warning {
    color: white;
    background-color:#FF8000;
    padding: 0 0.5em 0 0.5em;
}
.hint {
    font-style: italic;
    color: #aaa;
}
.login-error {
    margin-top: -20px;
    width: 100%;
    color: black;
    background-color: white;
    opacity: 0.7;
    border-radius: 10px;
    padding: 10px;
    
}
input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    border: 1px solid #CD4F39;
    outline: 0;
}


#wallpaper {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  #wallpaper {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
.login-greeting{
    font-size:1.15em;
    color:white;
}
.login-btn {
    background-color: white !important;
}
