{% extends "base.html" %}
{% block content %}

<img src="/static/images/background.jpg" id="wallpaper" alt="">


<div class="row" style="position: absolute; top:50px;">
<span class="login-greeting"><i class="fa fa-sign-in" aria-hidden="true"></i> Please login</span><br />
<p></p>
<form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="text" placeholder="{{ base_dn }}" name="username" value="{{request.form.username }}">
    <br />
    <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
    <br />
    <input class="login-btn btn btn-default " type="submit" value="Login">
</form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="login-error">
            {% for message in messages %}
                <div><i class="fa fa-frown-o" aria-hidden="true"></i> {{ message | safe }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

</div>


{% endblock %}
